Variables

In [3]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [5]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [7]:
x = str(3)
y = int(3)
z = float(3)

print(x)
print(y)
print(z)

3
3
3.0

Type

In [10]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

Single or Double Quotes?

In [13]:
x = "John"
print(x)
#double quotes are the same as single quotes:
x = 'John'
print(x)

John
John

Case-Sensitive

In [16]:
a = 4
A = "Sally"

print(a)
print(A)

4
Sally