String Concatenation

In [3]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [5]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

F-Strings

In [8]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

Placeholders and Modifiers

In [11]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [13]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [15]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

Escape Character

In [20]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.